/.config/autostart/
/.config/background
/.config/dconf/
/.config/enchant/
/.config/eog/
/.config/Code/
/.config/evolution
/.config/gnome-control-center/
/.config/gnome-initial-setup-done
/.config/gnome-session/
/.config/GNOME-xdg-terminals.list
/.config/goa-1.0/
/.config/google-chrome/
/.config/ibus/
/.config/libreoffice/
/.config/menus/
/.config/mimeapps.list
/.config/nautilus/
/.config/pulse/
/.config/spotify/
/.config/user-dirs.dirs
/.config/user-dirs.locale
/.config/xdg-terminals.list



