# Config File
.config/*
!.config/alacritty
!.config/gtk-2.0
!.config/gtk-3.0
!.config/gtk-4.0
!.config/mako
!.config/monitors.xml
!.config/nvim
!.config/nvim.bak
!.config/okularpartrc
!.config/pulse
!.config/ranger
!.config/sway
!.config/tmux
!.config/waybar
!.config/yambar
!.config/wofi
!.config/i3blocks.conf
